.search-bar {
  width: 100%;
  border: 1px solid #b10002;
  border-radius: 4px;
  margin-top: 1rem;
}

.search-bar__input-field {
  width: 10rem;
  border: none;
  padding-left: 0.5rem;
  background-color: transparent;
  color: white;
}

.search-bar__input-field:focus {
  outline: none;
}

.search-bar__input-field::placeholder {
  color: lightgray;
}

.search-bar__change-button {
  width: 2rem;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0.3rem 0.5rem;
}

.change-button__icon {
  cursor: pointer;
}

.selected {
  background-color: rgba(177, 0, 2, 1);
}

.not-selected {
  background-color: rgba(177, 0, 2, 0.3);
}

.search-bar__submit-button {
  width: 4rem;
  border: none;
  background-color: rgba(177, 0, 2, 1);
  color: #fff;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
}
